.asideClass {
    width: 10em;
    font-size: 20px;
    background-color: #fff;
    margin-bottom: 100px;
    text-align: center;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    margin-left: 82em;
}

#feitjes {
    margin-bottom: 30px;
    font-size: 30px;
}

